parameters:
    level: max
    checkUninitializedProperties: true
    parallel:
        maximumNumberOfProcesses: 64
        minimumNumberOfJobsPerProcess: 4
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    ignoreErrors:
        - '#^Cannot cast mixed to string.$#'
